<link type="text/css" rel="stylesheet" href="css/material.min.css"/>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">-->
<link type="text/css" rel="stylesheet" href="css/hk-espresso.css"/>
<!--<link type="text/css" rel="stylesheet" href="css/hk-tango.css"/>-->

<!-- style theme overrides -->
<link rel="stylesheet" href="css/talk-specific.css">
