{-# LANGUAGE OverloadedStrings,
             ScopedTypeVariables,
             RecursiveDo,
             TupleSections,
             TemplateHaskell,
             RankNTypes #-}

module $modulename where

import           Reflex
import           Reflex.Dom
import           MdlWidgets
import           Control.Lens
import           Control.Monad.IO.Class (liftIO)
import qualified Data.Map as Map
import           Data.Map (Map)
import           Data.Monoid ((<>))
import           Data.Text (Text)
import qualified Data.Text as T

import Text.HTML.SanitizeXSS

import Blobs

$code
